@import "../../styles/mixins";

.product-list-table {

  .table-header {
    @include font-params(normal, 16px, 19px, #828282);
    opacity: 0.8;
  }

  th {
    padding: 12px 16px;
  }

  td {
    padding: 13.5px 16px;
  }

  .MuiTableSortLabel-root {
    flex-direction: row-reverse;

    &.MuiTableSortLabel-active .table-header {
      color: black;
      font-weight: bold;
    }
  }

  .table-body {
    @include font-params(normal, 14px, 16px, #000000);
    opacity: 0.8;
  }

  .table-value {
    margin-left: 25px;

    @include media('max', 'sm') {
      margin-left: 0;
    }
  }

  .link {
    a {
      text-decoration: underline; /*для того, чтобы подчеркивание нормально отображалось в Mozilla Firefox*/
    }

    text-decoration: underline;
    margin-right: 10px;
  }

  .links {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
  }

  #itemName {
    width: 30%;
  }

  #price {
    width: 21%;
  }

  #dateOfChange {
    width: 24%;
  }

  #administration {
    width: 25%;
  }
}



