@import "../../styles/mixins";

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  .product-card-bordered-wrap {
    background: #FFFFFF;
    box-shadow: 0 20px 20px rgba(40, 40, 40, 0.05);
    border-radius: 10px;
    min-height: 754px;
    min-width: 320px;
  }

  .product-card-wrap {
    margin: 24px 95px;
  }

  .link {
    margin-bottom: 48px;

    a {
      text-decoration: underline;
    }
  }

  .product-card-wrapper {
    border-top: 1px solid #E0E0E0;

    .header-items-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 16px;

      h3 {
        @include font-params(normal, 24px, 28px, #000000);
        margin-bottom: 25px;
        margin-top: 24px;
      }

      p {
        @include font-params(normal, 16px, 19px, #828282);
        margin: 0;
      }

      .item-image {
        margin-top: 24px;
        flex: 0 0 350px;
      }

      .item-information {
        flex: 1 1 540px;
        padding: 0 0 0 30px;
      }
    }

    .bottom-items-row {
      display: flex;
      flex-wrap: wrap;
      margin: 24px 0 16px;

      h4 {
        @include font-params(normal, 16px, 19px, #000000);
        margin-top: 24px;
        margin-bottom: 12px;
      }

      p {
        @include font-params(normal, 14px, 16px, #828282);
        margin: 0;
      }

      .item-properties {
        flex: 0 0 350px;
        display: flex;
        flex-direction: column;

        .price {
          @include font-params(300, 22px, 26px, #000000);
        }

      }

      .button-wrap {
        padding: 0 0 0 30px;
        display: flex;
        flex-direction: column-reverse;
        flex: 1 1 auto;
        margin-top: 15px;
      }
    }
  }

    @include media("max", "md") {
        .product-card-wrap {
            margin: 24px 20px;
        }
      .product-card-wrapper {
        .header-items-row {
          .item-image {
            flex: 0 0 280px;
            img {
              width: 100%;
            }
          }
          .item-information {
             padding: 0;
          }
        }

        .bottom-items-row {
          .item-properties {
            flex: 0 0 280px;
          }
          .button-wrap {
            padding: 0;
          }
        }
      }
    }
}