@import "../../styles/mixins";

.search-panel {
  display: flex;
  flex-wrap: wrap;

  .input {
    margin: 15px;
    min-width: 240px;
    .MuiOutlinedInput-adornedStart {
      @include font-params(normal, 16px, 19px, #000000);
    }
  }

  .select {
    min-width: 240px;
    margin: 15px;
    .MuiOutlinedInput-root {
      @include font-params(normal, 16px, 19px, #000000);
    }
  }
}