@import "../../styles/mixins";

.property-list-table {

.table-header {
  @include font-params(normal, 16px, 19px, #828282);
  opacity: 0.8;
}

  td {
    padding: 13.5px 16px;
  }

  .MuiTableSortLabel-root {
    flex-direction: row-reverse;
    margin-right: 90px;
    @include media('max', 'lg') {
      margin-right: 42px;
    }
    @include media('max', 'md') {
      margin-right: 0;
    }
    &.MuiTableSortLabel-active .table-header {
      color: black;
      font-weight: bold;
    }
  }

  .MuiTableCell-alignRight {
    @include media('max', 'md') {
      text-align: left;
    }
  }

  .table-body {
    @include font-params(normal, 14px, 16px, #000000);
    opacity: 0.8;
  }

  .property-name {
    margin-left: 95px;
    @include media('max', 'lg') {
      margin-left: 65px;
    }

    @include media('max', 'md') {
      margin-left: 15px;
    }
    @include media('max', 'sm') {
      margin-left: 0;
    }
  }

  .property-type {
    margin-left: 25px;
    @include media('max', 'lg') {
      margin-left: 25px;
    }
    @include media('max', 'sm') {
      margin-left: 0;
    }
  }

  .link {
    text-decoration: underline;
    @include font-params(normal, 14px, 16px, #0258FF);
    opacity: 0.8;
    margin-right: 105px;
    @include media('max', 'md') {
      margin-right: 65px;
    }
    @include media('max', 'sm') {
      margin-right: 0;
    }
  }

  #propName {
    width: 33%;
  }
  #propType {
    width: 42%;
  }
  #administration {
    width: 25%;
  }
}