.product-list-item .box-row{
width: 1110px;
    height: 754px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 20px 20px rgba(40, 40, 40, 0.05);
    border-radius: 10px;
}

.product-list-item button {
 color: white;
}

.product-list-item button:hover,
.product-list-item button:focus,
.product-list-item button:visited{
    color: white;
}