.product-list {
    background: #FFFFFF;
    box-shadow: 0 20px 20px rgba(40, 40, 40, 0.05);
    border-radius: 10px;
    min-height: 754px;
}

.product-list .button-wrap {
    display: flex;
    flex-direction: row-reverse;
}

.product-list button {
    color: white;
    margin: 24px 95px 20px 0;
    width: 160px;
    height: 32px;
    padding: 1px 6px;
}

.product-list button:hover,
.product-list button:focus,
.product-list button:visited {
    color: white;
}

.product-list .product-list-table a {
    text-decoration: underline;
    margin: 0 33px;
}

.product-list .product-list-table .bold-text {
    color: #000000;
    opacity: 0.8;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    border-top: none;
    padding-left: 80px;
}

.product-list .product-list-table .gray-text {
    color: #828282;
    opacity: 0.8;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-top: none;
}

.product-list .product-list-table td {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
    border-top: 1px solid #F7F9FA;
    border-bottom: 1px solid #F7F9FA;
}

.product-list .product-list-table .product-name {
    padding-left: 73px;
}

.product-list .product-list-table .price {
    padding-right: 50px;
}

.product-list .product-list-table .administration {
    padding-left: 45px;
}

.product-list .product-list-table i {
    margin: 0 6px;
}