@import "../../styles/mixins";

.registration {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  .registration-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    min-width: 350px;
    min-height: 549px;
    background: #FFFFFF;
    box-shadow: 0 20px 20px rgba(40, 40, 40, 0.05);
    border-radius: 10px;
  }

  .form-wrap {
    width: 318px;
  }

  h4 {
    @include font-params(300, 22px, 26px, #000000)
  }

  label {
    margin-top: 16px;
    margin-bottom: 8px;
    @include font-params(bold, 12px, 14px, #828282);
  }

  input {
    padding: 7px 16px 6px;
    @include font-params(normal, 16px, 19px, #000000);
  }

  .link {
    margin-bottom: 10px;
  }

  a {
    @include font-params(normal, 14px, 16px, #0258FF);
    text-decoration: underline;
  }

  .registration-button {
    margin-top: 14px;
  }

  .MuiIconButton-root {
    padding: 8px;
  }
}